<ul>
<% job_collection.each do |job| %>
  <li>Mechanic: <%= job.mechanic.name %><br>Customer: <%= job.customer.name %><br>
    <ul>
      <% job.work_orders.each do |order| %>
        <li>
          <%= order.description %>, $<%= order.price %>, <strong><%= order.status %></strong><% if order.status == 'pending' %>, mark complete? <input type="checkbox" name="ids[]" value="<%= order.id %>">
          <% end %><br>
        </li>
      <% end %>
    </ul>
  </li>
  <%= link_to "Edit Job", edit_mechanic_job_path(job.mechanic, job) %>  |  
  <%= link_to "Delete Job", "/mechanics/#{job.mechanic.id}/jobs/#{job.id}", method: :delete %><br><br>
<% end %>
</ul>