<h1>Welcome, <%= current_mechanic.name %>!</h1>

<div>
  <p>Your Jobs:</p>
  <ul>
  <% @mechanic.jobs.each do |job| %>
    <li><%= job.customer.name %> - <%= job.description %> - $<%= job.price %></li>
  <% end %>
  </ul>
</div>

<div><%= link_to "Create a New Job", new_mechanic_job_path(@mechanic) %></div>