<h1>Welcome, <%= current_mechanic.name %>!</h1>

<%= render partial: 'static/nav2', locals: {mech: @mechanic} %>

<div>
  <h4>Your Pending Jobs:</h4>
  <%= form_tag('/complete') do %>
  <%= render partial: 'job_list', locals: {job_collection: @mechanic.unfinished_jobs} %>
  <%= submit_tag("Mark Selected Complete") %>
  <% end %>
</div>

<div>
  <h4>Your Completed Jobs:</h4>
  <%= render partial: 'job_list', locals: {job_collection: @mechanic.finished_jobs} %>
</div>