<h1>Welcome, <%= current_mechanic.name %>!</h1>

<%= render partial: 'static/nav2', locals: {mech: @mechanic} %>

<div>
  <h4>Your Pending Jobs:</h4>
  <ul>
  <% @mechanic.unfinished_jobs.each do |job| %>
    <li><%= job.customer.name %><br>
      <ul>
        <% job.work_orders.each do |order| %>
          <li>
            <%= order.description %>, $<%= order.price %>, <%= order.status %><br><br>
          </li>
        <% end %>
      </ul>
    </li>
    <%= link_to "Edit Job", edit_mechanic_job_path(job.mechanic, job) %><br><br>
  <% end %>
  </ul>
</div>

<div>
  <h4>Your Completed Jobs:</h4>
  <ul>
  <% @mechanic.finished_jobs.each do |job| %>
    <li><%= job.customer.name %><br>
      <ul>
        <% job.work_orders.each do |order| %>
          <li>
            <%= order.description %>, $<%= order.price %>, <%= order.status %><br><br>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>