<!DOCTYPE html>
<html>
<head>
  <title>RailsAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <span><%= link_to "Sign Up", signup_path %><span>
  <span><%= link_to "Sign In", signin_path %></span>
  <span><%= link_to "Log Out", logout_path %></span>
</nav>

<%= yield %>

</body>
</html>
