<!DOCTYPE html>
<html>
<head>
  <title>RailsAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar">
  <% if current_mechanic %>
    <span>Logged in as <%= current_mechanic.name %>.  |  </span>
    <span id="profile-button"><%= link_to "View Your Profile", mechanic_path(current_mechanic) %>  |  </span>
    <span id="home-button"><%= link_to "Home", "/" %>  |  </span>
    <span><%= link_to "Log Out", destroy_mechanic_session_path, method: :delete %></span>
  <% else %>
    <span><%= link_to "Sign Up", new_mechanic_registration_path %>  |  <span>
    <span><%= link_to "Sign In", new_mechanic_session_path %>  |  </span>
    <span><%= link_to "Log In with Facebook", '/auth/facebook' %></span>
  <% end %>
  <br><br><br>
</nav>

<%= yield %>

</body>
</html>
